const CONFIG = {
    introTitle: 'My brother à!',
    introDesc: 'Sinh nhật vui vẻ sinh đẻ thành công' ,
    btnIntro: 'oki iem :>',
    title: ' Iem biết nay sinh nhật anh, nhưng mà, em sẽ ko mua bánh cho anh đou😏',
    desc: 'tại sao hả ? Tại anh phải mua bánh cho iem chứ 😂😂',
    btnYes: 'Oke iemmm ',
    btnNo: 'Không, m bị ảo à',
    question:'Mua cho iem 10 cái bánh đc ko ',
    btnReply: '100 cái cx đựt iem owii :>>',
    reply: ' gửi cho iem OwO',
    mess: 'Đùa thôi,chúc mừng sênh nhật anh trai !!!!',
    messDesc: 'tối nhớ phần iem bánh đấy!!',
    btnAccept: 'Okiiiii lun <3',
    messLink: 'http://facebook.com/canh.tuan.75839
